<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>参加抽奖名单</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('lotterysystem', [])
        app.controller('lotteryController', function ($scope, $http) {

            $scope.winnerEntity = [];
            $scope.emplyeeList = [];
            $scope.winnerList = [];
            $scope.randomEntity = {};
            $scope.reloadList = function () {
                $scope.getWinnerList();
            };

            // 存储当前的中奖的名单
            $scope.saveWinner = function () {
                $http.post('../LotteryController/saveWinner',$scope.winnerEntity).success(
                    function (response) {
                        if (response.signal) {
                            $scope.emplyeeList.removeAll($scope.winnerEntity);
                            $scope.reloadList();
                        } else {
                            alert(response.message);
                        }
                    }
                );
            };

            // 获取右侧已中奖名单
            $scope.getWinnerList = function () {
                $http.get('../WinningResultController/getAll').success(
                    function (response) {
                        // emplyeelist 存储全部员工的容器
                        $scope.winnerList = response;
                    }
                );
            };

            // 获取
            $scope.getAll = function () {
                $scope.getAllEmp();
                $scope.getWinningSetting();
                $scope.getWinnerList();

            };
            // 获取左侧已全部人员名单
            $scope.getAllEmp = function () {
                $http.get('../EmployeeController/getAll').success(
                    function (response) {
                        // emplyeelist 存储全部员工的容器
                        $scope.emplyeeList = response;
                    }
                );
            };

            // 获取奖品清单
            $scope.getWinningSetting = function () {
                $http.get('../LotteryController/getWinningSetting').success(
                    function (response) {
                        // emplyeelist 存储全部员工的容器
                        $scope.winningSetting = response;
                    }
                );
            };


            // 开始抽奖
            $scope.random = function () {
                $scope.myDate=new Date();
                $scope.randomEntity.employeeList = $scope.emplyeeList;
                $http.post('../LotteryController/random', $scope.randomEntity).success(
                    function (response) {
                        $scope.winnerEntity = response;
                    }
                );
            };

            // 取消本次抽奖结果
            $scope.cancel = function () {
                $scope.winnerEntity = []
            };
            // 取消全部抽奖结果
            $scope.allCancel = function () {
                $scope.winnerEntity = [];
                $scope.getAllEmp();
                $scope.delAllWinner();
            };

            $scope.selectIds = [];//用户勾选的id集合

            //选中数组的增减
            $scope.updateSelection = function ($event, id) {
                if ($event.target.checked) {
                    $scope.selectIds.push(id)
                } else {
                    $scope.selectIds.splice($scope.selectIds.indexOf(id), 1);
                }
            };

            // 删除选择的中奖信息(按奖品gid)
            $scope.dele = function () {
                $http.post('../LotteryController/delete?ids=' + $scope.selectIds).success(
                    function (response) {
                        if (response.signal) {
                            $scope.reloadList();
                        } else {
                            alert(response.message);
                        }
                    }
                );
            };

            // 删除选择的中奖信息(按奖品gid)
            $scope.deleOne = function (id) {
                ids = [id];
                $http.post('../LotteryController/delete?ids=' + ids).success(
                    function (response) {
                        if (response.signal) {
                            $scope.reloadList();
                        } else {
                            alert(response.message);
                        }
                    }
                );
            };
            // 删除全部中奖信息(按奖品gid)
            $scope.delAllWinner = function () {
                $http.post('../WinningResultController/deleteAll').success(
                    function (response) {
                        if (response.signal) {
                            $scope.reloadList();
                        } else {
                            alert(response.message);
                        }
                    }
                );
            }
        })
    </script>
</head>


<body class="hold-transition skin-red sidebar-mini" ng-app="lotterysystem" ng-controller="lotteryController"
      ng-init="getAll()">
<!--页眉-->
<div class="navbar-inner row">
    <div class="container col-lg-12">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">
                <img id="jupyter-nav-logo" class="navbar-logo" src="/img/logo.png" alt="talenco logo">
            </a>
        </div>
        <div class="panel-heading col-lg-4"></div>
        <div class="blur col-lg-4"></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/pages/employee_manager.html" class="tab"><h3>人员管理</h3></a>
                </li>
                <li>
                    <a href="/pages/good_manager.html" class="tab"><h3>奖项管理</h3></a>
                </li>
                <li>
                    <a href="/pages/winningResult_manager.html" class="tab" target="_blank"><h3>抽奖结果</h3></a>
                </li>
                <li>
                    <span class="col-lg-1"></span>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>

<div class="row">
    <!--左边-->
    <div class="col-md-3" style="text-align:center" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">

                <li class="" ng-repeat="entity in emplyeeList">
                    <ul class="nav">
                        <li class=""><h4>{{entity.empno}} {{entity.ename}}</h4></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--主界面,抽奖-->
    <div class="col-md-6" role="main">
        <div>
            <select ng-model="randomEntity.gid">
                <option ng-repeat="good in winningSetting.gset" value="{{good.gid}}">{{good.gname}}
            </select>
            <button ng-click="random()">抽奖</button>
            <button ng-click="saveWinner()">确认保存</button>
            <button ng-click="cancel()">取消</button>
            <button ng-click="allCancel()">全部取消</button>

            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="sorting_asc">员工id</th>
                    <th class="sorting_asc">员工名字</th>
                    <th class="sorting">奖项</th>
                    <th class="sorting">奖品</th>
                    <th class="sorting">时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in winnerEntity">
                    <td>{{entity.empno}}</td>
                    <td>{{entity.ename}}</td>
                    <td>{{entity.gname}}</td>
                    <td>{{entity.greword}}</td>
                    <td>{{myDate}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--中奖名单-->
    <div class="col-md-3" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">

                <li class="" ng-repeat="entity in winnerList">
                    <a href="#overview">{{entity.gid}}</a>
                    <ul class="nav">
                        <li class=""><a href="#overview-doctype">{{entity.empno}}</a></li>
                        <li class=""><a href="#overview-type-links">{{entity.ename}}</a></li>
                        <li class=""><a href="#overview-normalize">{{entity.wintime}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

    </div>
</div>
</body>

</html>